body{
    background-color: deepskyblue;
}
h1{
    color: blueviolet;
    background-color: dodgerblue;
    font-size: 65px;
    font-family: "Coiny", cursive;
    text-align: center;
}
img{
    align-content: center;
    box-sizing: border-box;
}
